<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<listener>
		<listener-class>org.celllife.mobilisr.servlet.ServletContextProviderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.celllife.mobilisr.startup.ContextStartupListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:net/bull/javamelody/monitoring-spring.xml
			classpath:mobilisr-applicationContext.xml
		</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>
	<filter>
		<filter-name>openSessionInViewFilter</filter-name>
		<filter-class>
			org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
		<init-param>
			<param-name>singleSession</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>openSessionInViewFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
		<url-pattern>/mobilisr/recoverPassword</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<filter>
		<filter-name>MobilisrMDCServletFilter</filter-name>
		<filter-class>org.celllife.mobilisr.servletFilter.MobilisrMDCServletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MobilisrMDCServletFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>mobilisr</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>CrudRole</servlet-name>
		<servlet-class>org.celllife.mobilisr.service.impl.gwt.RoleServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CrudUser</servlet-name>
		<servlet-class>org.celllife.mobilisr.service.impl.gwt.UserServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CrudOrg</servlet-name>
		<servlet-class>org.celllife.mobilisr.service.impl.gwt.OrganizationServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CrudContacts</servlet-name>
		<servlet-class>org.celllife.mobilisr.service.impl.gwt.ContactServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CampaignSchedule</servlet-name>
		<servlet-class>org.celllife.mobilisr.service.impl.gwt.ScheduleServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CrudCampaign</servlet-name>
		<servlet-class>org.celllife.mobilisr.service.impl.gwt.CampaignServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MessageLogService</servlet-name>
		<servlet-class>org.celllife.mobilisr.service.impl.gwt.MessageLogServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReportService</servlet-name>
		<servlet-class>org.celllife.mobilisr.service.impl.gwt.ReportServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SettingService</servlet-name>
		<servlet-class>org.celllife.mobilisr.service.impl.gwt.SettingServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminService</servlet-name>
		<servlet-class>org.celllife.mobilisr.service.impl.gwt.AdminServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChannelService</servlet-name>
		<servlet-class>org.celllife.mobilisr.service.impl.gwt.ChannelServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MessageFilterService</servlet-name>
		<servlet-class>org.celllife.mobilisr.service.impl.gwt.MessageFilterServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExportService</servlet-name>
		<servlet-class>org.celllife.mobilisr.service.impl.gwt.ExportServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CsvSampleRead</servlet-name>
		<servlet-class>org.celllife.mobilisr.servlet.CsvReadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VersionServlet</servlet-name>
		<servlet-class>org.celllife.mobilisr.servlet.VersionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RecoverPasswordServlet</servlet-name>
		<servlet-class>org.celllife.mobilisr.servlet.RecoverPasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>jUnitHostImpl</servlet-name>
		<servlet-class>com.google.gwt.junit.server.JUnitHostImpl</servlet-class>
	</servlet>
	<!-- Servlets -->
	<servlet-mapping>
		<servlet-name>mobilisr</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CrudRole</servlet-name>
		<url-pattern>/mobilisr/crudRole.rpc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CrudUser</servlet-name>
		<url-pattern>/mobilisr/crudUser.rpc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CrudOrg</servlet-name>
		<url-pattern>/mobilisr/crudOrganization.rpc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CrudContacts</servlet-name>
		<url-pattern>/mobilisr/crudContacts.rpc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CrudCampaign</servlet-name>
		<url-pattern>/mobilisr/crudCampaign.rpc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CampaignSchedule</servlet-name>
		<url-pattern>/mobilisr/schedCampaign.rpc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MessageLogService</servlet-name>
		<url-pattern>/mobilisr/logService.rpc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportService</servlet-name>
		<url-pattern>/mobilisr/reporting.rpc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SettingService</servlet-name>
		<url-pattern>/mobilisr/settingService.rpc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminService</servlet-name>
		<url-pattern>/mobilisr/adminService.rpc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChannelService</servlet-name>
		<url-pattern>/mobilisr/channelService.rpc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MessageFilterService</servlet-name>
		<url-pattern>/mobilisr/messageFilterService.rpc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExportService</servlet-name>
		<url-pattern>/mobilisr/exportService.rpc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CsvSampleRead</servlet-name>
		<url-pattern>/mobilisr/readCsv</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VersionServlet</servlet-name>
		<url-pattern>/mobilisr/version</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecoverPasswordServlet</servlet-name>
		<url-pattern>/mobilisr/recoverPassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jUnitHostImpl</servlet-name>
		<url-pattern>/mobilisr/junithost/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- logback servlet -->
	<servlet>
		<servlet-name>ViewStatusMessages</servlet-name>
		<servlet-class>ch.qos.logback.classic.ViewStatusMessagesServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ViewStatusMessages</servlet-name>
		<url-pattern>/logstatus</url-pattern>
	</servlet-mapping>

	<!-- GWT filter to add cache control HTTP headers onto the nocache javascript 
		file -->
	<filter>
		<filter-name>gwtCacheControlFilter</filter-name>
		<filter-class>org.celllife.mobilisr.servletFilter.GWTCacheControlFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>gwtCacheControlFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- performance monitor -->
	<filter>
		<filter-name>monitoring</filter-name>
		<filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
		<init-param>
			<param-name>quartz-default-listener-disabled</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>monitoring</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>net.bull.javamelody.SessionListener</listener-class>
	</listener>
</web-app>