#**
This is the template for the email sent when a client requests a new campaign.

Variables that may be used are:
 - firstname: firstname of the person requesting a new campaign
 - lastname: lastname of the person requesting a new campaign
 - userEmailAddress: requester's email address
 - userRequestEmail
 
Velocity generic tools also available. See http://velocity.apache.org/tools/devel/generic/
*#
#parse("org/celllife/mobilisr/templates/header.vm")	
<h3>Password Reset</h3>
<p>Dear ${firstname} ${lastname}</p>

<p>
Your Communicate password has successfully been reset. Your new password is:<br>
<ul>
	<li>Password: ${password}</li>	
</ul>
You can change it once you have logged in by clicking on the 'My Profile' button at the top right of the screen.
</p>
#parse("org/celllife/mobilisr/templates/footer.vm")	